DATABASE_CONNECTION=postgres:///water?host=/var/run/postgresql/&user=[USER]&password=[PASSWORD]
GCP_PROJECT_ID=some_project_id
GOOGLE_APPLICATION_CREDENTIALS=/path/to/file(https://cloud.google.com/docs/authentication/production#cloud-console)
TWILIO_ACCOUNT=some_account_id
TWILIO_SID=some_sid
TWILIO_SECRET=some_secret
TWILIO_ACCOUNT_PHONE_NUMBER=+15555555555
TWILIO_RECIPIENT_PHONE_NUMBER=+15555555555