DATABASE_CONNECTION=postgres:///water?host=/var/run/postgresql/&user=[USER]&password=[PASSWORD]
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CREDENTIALS=/home/pi/projects/watermeter/bin/service-account.json
