{
  "allowedPhoneNumbers": ["1234567890", "0987654321"],
  "awsAccount": "123456789",
  "awsRegion": "us-west-1",
  "twilioAccountNumber": "",
  "twilioAuthToken": "",
  "twilioSecret": "",
  "twilioSid": ""
}
